.performance-chart {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.performance-chart h2 {
    margin-bottom: 20px;
    color: #333;
}

.chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.bar {
    width: 15%;
    border-radius: 5px;
}

.bar.last-month {
    height: 60px;
    background-color: #7B6FA9;

}

.bar.present-month {
    height: 80px;
    background-color: #FFC000;
}

.bar.average {
    height: 40px;
    background-color: #3FB65F;
}