.header {
    position: relative; /* Ensure the header is positioned relative to its container */
}

.header-image {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 16px;
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.search-and-filter {
    display: block;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-bottom: 15px;
}

.search-bars {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    padding: 5px 10px;
    /* width: 100%; */
}

.search-bars input {
    border: none;
    outline: none;
    padding: 10px;
    flex-grow: 1;
}

.search-bar .search-icon {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.sort-button {
    background-color: #fff;
    margin-top: 3px;
    border: 1px solid #f29225;
    font-size: 0.6rem;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
}

.project-logo {
    /* width: 50px; */
    margin-bottom: 2px;
}

.project-card h3 {
    font-size: 1rem;
    /* margin-bottom: 10px; */
    color: #0A66C2;
}

.project-card p {
    margin: 2px 0 10px 0;
    font-size: 0.8rem;
}

.tags {
    margin-top: 0px;
    margin-bottom: 15px;
}

.project-date{
    font-size: 1.1rem;
    color: #6b7280;
}

.tag {
    display: inline-block;
    background-color: #e0e7ff;
    color: #0A66C2;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: bold;
}

.project-organizer{
    font-weight: bold;
    /* margin: 0px 5px 0 0; */
    font-size: 0.8rem;
}

.applicants-info {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #6b7280;
}

.post-project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff3cd;
}

.post-project-content {
    text-align: center;
}

.add-icon {
    font-size: 3rem;
    color: #ff6f61;
    margin-bottom: 10px;
}

.post-project-button {
    background-color: #ffd66b;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
